.accessPoints {
	.body_modal {
		float: left;

		.form--accessPoint {
			@extend .form--input;
		}

		.addEdit__accessPoint--mainData {
			position: relative;
			width: 30%;
			// opacity: 0;
			// cursor: default;
			// margin-right:;
			float: left;
			margin-top: 15px;
			margin-left:15px;

			.details__element {
				float: left;
				width: 100%;
				margin-bottom: 5px;
				top: 0;
				position: relative;

				.element__label {
					width:40%;
					text-align: right;
					margin-right: 10px;
					position: relative;
					float: left;
					top: 0;
				}

				.element__input {
					width:50%;
					outline: none;
					border: 0;
					outline: 0;
					background: transparent;
					border-bottom: 1px solid $borderInput;
					padding-left: 5px;

				}

				.element__textarea {
					width:50%;
					outline: none;
					border: 0;
					border-bottom: 1px solid $borderInput;
					padding-left: 5px;
					resize: none;

				}

				.content {
					width: 50%; 
				}
			}
		}

		.addEdit__accessPoint--relay {
			float: left;
			width: 45%;
			padding-bottom: 30px;
			top: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.relay__button {
				padding-top: 15px;
				text-align: center;

				.relay {
					background: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
 					border: 1px solid #ccc;
					min-width: 80px;
					width: 22%;
					margin: 3px;
					text-align: center;
					height: 30px;
					font-size: 15px;

					&:hover {
						opacity: 0.8;
						color:black; 
					}
				}

				.relay_config {
					@extend .relay;
					background: #2ecc71;
 					
				}
			}

			.relay__details {
				// text-align: center;
				width: 90%;
				margin-left: 5%;
				margin-right: 5%;
				margin-top: 15px;

				.relay__details--space {
					width: 100%;
					display: block;

					border-width: 2px;
					border-style: groove;
					border-color: $borderInput;
					border-image: initial;

					.relay__name {
						display: block;
						width: auto;
						margin-left: 10px;
						border-style: none;
						border-color: $borderInput;
						font-size: 18px !important;
					}

					.details__element {
						float: left;
						width: 100%;
						margin-bottom: 10px;

						.element__label {
							width:25%;
							text-align: right;
							margin-right: 15px;
						}

						.element__input {
							width:61%;
							outline: none;
							border: 0;
							outline: 0;
							// background: transparent;
							border-bottom: 1px solid $borderInput;
							padding-left: 5px;
							height: 30px;

						}

						.element__input-small {
							width:30%;
							outline: none;
							border: 0;
							outline: 0;
							// background: transparent;
							border-bottom: 1px solid $borderInput;
							padding-left: 5px;
							height: 30px;
						}

						.element__select {
							width:30%;
							outline: none;
							border: 0;
							outline: 0;
							// background: transparent;
							border-bottom: 1px solid $borderInput;
							padding-left: 5px;
							height: 30px;
						}
					}

					.controll_relays {
						width:100%;
						float: right;
						margin-bottom: 0px;
						padding: 20px 8%;
						.save_config {
							float: left;
							background: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
							border: 1px solid $borderButton;
						}

						.save_config_ok {
							background: #27ae60;
						}

						.save_config_error {
							background: #e74c3c;
						}

						.save_config_empty {
							// background-color: ;
						}

						.previous_relay {
							width: 40px;
							float: right;
							margin-right: 5px;
						}

						.next_relay {
							width: 40px;
							float: right;

						}
					}
				}
			}
		}
	}

	// .footer_modal {
	// 	border-color: transparent !important;
	// }

	.details--accessPoint {
		@extend .details-form;
	}
}
