<div class="accessPoints tab__view">
	<div class="tab__view--header">
		<p class="subtitle">Access points List</p>
		<button class="btn_add btn" data-toggle="modal" data-target="#addAccessPoint">Add new</button>
	</div>

	<div class="tab__view--body">
		<table class="table tab__view-list">
			<thead> 
				<tr>
					<th>IMEI</th>
					<th>Access number</th>
					<th>Version</th>
					<th>Elevator</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="accessPoint in accessPoints">
					<td>{{accessPoint.IMEI}}</td>
					<td>{{accessPoint.phone_number}} </td>
					<td>{{accessPoint.version.name}}</td>
					<td>{{accessPoint.elevator.identifier}}</td>
					<td>
						<span class="glyphicon glyphicon-pencil manipulate__button" data-toggle="modal" data-target="#addAccessPoint" @click=""></span>	
						<span class="glyphicon glyphicon-remove manipulate__button" @click="destroy(accessPoint.id)"></span>
						<span class="glyphicon glyphicon-info-sign manipulate__button" data-toggle="modal" data-target="#infoAccessPoint" @click=""></span>
					</td>
				</tr>
					
			</tbody>

		</table>
	</div>

	<div class="modal fade" id="addAccessPoint" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        	<h4 class="modal-title" id="myModalLabel">Add new</h4>
		      	</div>
		      	<div class="modal-body">
		        	<h3>Add form</h3>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        	<button type="button" class="btn btn-default">Save changes</button>
		      	</div>
    		</div>
  		</div>
	</div>

	<div class="modal fade" id="infoAccessPoint" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        	<h4 class="modal-title" id="myModalLabel">Information</h4>
		      	</div>
		      	<div class="modal-body">
		        	<h3>More information</h3>
		        	<div>
		        		<label>IMEI:</label>
		        		<span>12312</span>
		        	</div>

		        	<div>
		        		<label>Access number:</label>
		        		<span></span>
		        	</div>

		        	<div>
		        		<label>Elevator:</label>
		        		<span></span>
		        	</div>

		        	<div>
		        		<label>Version:</label>
		        		<span></span>
		        	</div>

		        	<div>
		        		<label>Nr. of relays:</label>
		        		<span></span>
		        	</div>

		        	<div>
		        		<label>Nodes:</label>
		        		<span></span>
		        	</div>

		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      	</div>
    		</div>
  		</div>
	</div>

</div>