<div class="accessPoints tab__view">
	<div class="tab__view--header">
		<p class="subtitle">Access points List</p>
		<button class="btn_add btn" data-toggle="modal" data-target="#addAccessPoint" @click="modalAdd()" >Add new</button>

		<button data-target="#config__relays" data-toggle="modal">Config</button>
	</div>

	<div class="tab__view--body">
		<table class="table tab__view-list">
			<thead>
			<tr>
				<th>IMEI</th>
				<th>Access number</th>
				<th>Version</th>
				<th>Elevator</th>
				<th class="action">Action</th>
			</tr>
			</thead>
			<tbody>
				<tr v-for="accessPoint in accessPoints">
					<td>{{accessPoint.IMEI}}</td>
					<td>{{accessPoint.phone_number}} </td>
					<td>{{accessPoint.version.name}}</td>
					<td>{{accessPoint.elevator.identifier}}</td>
					<td class="action">
						<span class="glyphicon glyphicon-pencil manipulate__button" data-toggle="modal" data-target="#addAccessPoint" @click="getDetails(accessPoint.id); modalEdit(accessPoint.IMEI)"></span>	
						<span class="glyphicon glyphicon-remove manipulate__button" @click="destroy(accessPoint.id)"></span>
						<span class="glyphicon glyphicon-info-sign manipulate__button" data-toggle="modal" data-target="#infoAccessPoint" @click="getDetails(accessPoint.id)"></span>
						<span class="glyphicon glyphicon-registration-mark manipulate__button" @click="getRelaysAccessPoint(accessPoint.id)" data-toggle="modal" data-target="#config__relays"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="modal fade" id="addAccessPoint" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">{{modal.title}}</h4>
				</div>
				<div class="modal-body body_modal">
					<div class="form--accessPoint">

						<!-- <div class="element" v-if="show__section_config_entry">
							<label class="element__label">Entry</label>
							<select class="element__input" v-model="eeee">
								<option>Hyrja v1/c1</option>
							</select>
							<span class="error_message" v-if="error.entry_id">Errror{{}}</span>
						</div> -->

						<div class="element">
							<label class="name">IMEI</label>
							<input type="email" :class="{value:true, error_value:errorAccessPoint.IMEI}" v-model="details.IMEI">
							<span class="error_message" v-if="errorAccessPoint.IMEI">{{errorAccessPoint.IMEI[0]}}</span>
						</div>

						<div class="element">
							<label class="name">SIM number</label>
							<input type="text"  :class="{value:true, error_value:errorAccessPoint.phone_number}" v-model="details.phone_number">
							<span class="error_message" v-if="errorAccessPoint.phone_number">{{errorAccessPoint.phone_number[0]}}</span>
						</div>

						<div class="element" v-if="versions">
	                        <label class="name">Version</label>
	                        <select :class="{value__select:true, error_value:errorAccessPoint.version_id}" v-model="details.version" @change="chooseVersion()">
	                            <option v-for="version in versions" :value="version" v-if="version">{{version.name}}</option>
	                        </select>
	                        <span class="error_message" v-if="errorAccessPoint.version_id">{{errorAccessPoint.version_id[0]}}</span>
	                    </div>

						<div class="element" v-if="elevators">
							<label class="name">Elevator</label>
							<select :class="{value__select:true, error_value:errorAccessPoint.elevator_id}" v-model="details.elevator" @change="chooseElevator()">
								<option v-for="elevator in elevators" :value="elevator" >{{elevator.identifier}}</option>
							</select>
							<span class="error_message" v-if="errorAccessPoint.elevator_id">{{errorAccessPoint.elevator_id[0]}}</span>
						</div>

						<div class="element">
							<label class="name">Note</label>
							<textarea :class="{value_textarea:true, error_value:errorAccessPoint.notes}" rows="5" v-model="details.notes"></textarea>
							<span class="error_message" v-if="errorAccessPoint.notes">{{errorAccessPoint.notes[0]}}</span>
						</div>
					</div>
				</div>

				<div class="modal-footer footer_modal ">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-default" @click="edit()" v-if="modal.btnEdit">Update</button>
					<button type="button" class="btn btn-default" @click="add()" v-if="modal.btnAdd">Add</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#config__relays" @click="modalConfigRelay()" v-if="modal.btnConfigRelay">Config relay</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="config__relays" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">{{modal.title}}</h4>
				</div>
				<div class="modal-body body_modal">
					<div class="addEdit__accessPoint--mainData" v-if="details">

						<div class="details__element" v-if="show__section_config_entry">
							<label class="element__label">Entry</label>
							<select class="content" v-model="eeee">
								<option>Hyrja v1/c1</option>
							</select>
						</div>

						<div class="details__element">
							<label class="element__label">IMEI:</label>
							<span class="content" >{{details.IMEI}}</span>
						</div>

						<div class="details__element">
							<label class="element__label">SIM number:</label>
							<span class="content">{{details.phone_number}}</span>
						</div>

						<div class="details__element" v-if="versions">
                             <label class="element__label">Version:</label>
                             <span class="content">{{details.version.name}}</span>
                         </div>

						<div class="details__element">
							<label class="element__label">Elevator:</label>
							<span class="content">{{details.elevator.identifier}}</span>
						</div>

						<div class="details__element">
							<label class="element__label">Notes:</label>
							<span cols="15" rows="5" class="content">{{details.notes}}</span>
						</div>
					</div>

					<div class="addEdit__accessPoint--relay">
						<div class="relay__button">
							<button :class="{'relay':true,'btn':true,'relay_config' : (n === relayAreConfig[n])}" v-for="(n,index) in numberOfRelays" @click="setRelayDetails(n)">Relay {{n}}</button>
						</div>

						<div class="relay__details">
							<fieldset class="relay__details--space" >
								<legend class="relay__name">{{relayName}}</legend>

								<div class="details__element">
									<label class="element__label">Name</label>
									<select class="element__select" v-model="relayFloor">
										<option value="garage">Garage</option>
										<option v-for="n in 6" :value="'floor'+n">Floor {{n}}</option>
										<option value="vip_floor">Vip floor</option>
										<option>Other</option>
									</select>

									<input type="text" class="element__input-small">
								</div>

								<div class="details__element">
									<label class="element__label">Pulse time</label>
									<input type="email" v-model="relayPulseTime" class="element__input" >
								</div>
								<div class="controll_relays">
									<button type="button" class="btn btn-sm " :class="{save_config:true, save_config_ok:false}" @click="addRelay()">
							            <span class="glyphicon glyphicon-saved"></span> Saved
							        </button>
									<button class="btn btn-default next_relay" @click="nextRelay()">&raquo;</button>
									<button class="btn btn-default previous_relay" @click="previousRelay()">&laquo;</button>
								</div>
							</fieldset>
						</div>
					</div>


				</div>

				<div class="modal-footer footer_modal">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-default">Save</button >
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="infoAccessPoint" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Information</h4>
				</div>
				<div class="modal-body">
					<div class="details--accessPoint">
						<div class="element">
							<label class="name">IMEI:</label>
							<span class="value">{{details.IMEI}}</span>
						</div>

						<div class="element">
							<label class="name">Access number:</label>
							<span class="value">{{details.phone_number}}</span>
						</div>

						<div class="element" v-if="details.elevator">
							<label class="name">Elevator:</label>
							<span class="value">{{details.elevator.identifier}}</span>
						</div>

						<!-- <div class="element">
                            <label class="name">Version:</label>
                            <span class="value">{{details.version.name}}</span>
                        </div> -->

						<!-- <div class="element">
                            <label class="name">Nr. of relays:</label>
                            <span class="value">{{details.version.number_of_relay}}</span>
                        </div> -->

						<div class="element">
							<label class="name">Notes:</label>
							<span class="value">{{details.notes}}</span>
						</div>

						<div class="element">
							<label class="name">Created at:</label>
							<span class="value">{{details.created_at}}</span>
						</div>
						<div class="element">
							<label class="name">Updata at:</label>
							<span class="value">{{details.updated_at}}</span>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>

</div>