<div class="building__details--body">
    <div :class="{'information':true,}" v-if="detailsBuilding" v-show="show">
        <div class="profile__building" >
            <h3 class="building__name">{{detailsBuilding.name}}</h3>
            <!-- <button class="btn btn-default" @click="show=!show">-</button> -->
            <img class="building__logo" src="/image/dumnica_logo.png">

            <p class="building__subtitle">Address</p>
            <div class="address__item">
                <label class="building__address-left">Company: </label>
                <span class="building__address-right">{{detailsBuilding.company}}</span>
            </div>
            <div class="address__item">
                <label class="building__address-left">City: </label>
                <span class="building__address-right">{{detailsBuilding.address.city.name}}</span>
            </div>
            <div class="address__item">
                <label class="building__address-left">Neighborhood: </label>
                <span class="building__address-right">{{detailsBuilding.address.neighborhood}}</span>
            </div>
            <div class="address__item">
                <label class="building__address-left">Street: </label>
                <span class="building__address-right">{{detailsBuilding.address.street}}</span>
            </div>
            <div class="address__item">
                <label class="building__address-left">Number: </label>
                <span class="building__address-right">302</span>
            </div>
        </div>

        <div class="list__entry">
            <p class="building__subtitle">Entries</p>
            
            <div :class="{'entry__link':true, 'entry__link-active':( entry.id === idEntry )}"  @click="getEntryDetails(entry.id)" v-for="entry in detailsBuilding.entries">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                <span class="entry__name">Hyrja {{entry.name}}</span>
            </div>

            <div class="entry__link-new"  @click="modalAdd()" data-toggle="modal" data-target="#addEntry" >
                <span class="glyphicon glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                <span class="entry__name">New entry</span>
            </div>
        </div>
    </div>

    <div :class="{'tabs__section':show, 'tabs__section_full':!show, }" >
        <div class="info_bar" v-if="show_info">
            <div class="element">
                <label class="title">Entry:</label>
                <span class="value">Hyeja 21</span>
            </div>

            <div class="element">
                <label class="title">Nr. of floors:</label>
                <span class="value">21</span>
            </div>

            <div class="element">
                <label class="title">Nr. of apartments:</label>
                <span class="value">80</span>
            </div>

            <button class="btn_add btn">Edit</button>

        </div>
        <div class="tab_section">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#accessPoints">Access point</a></li>
                <li><a data-toggle="tab" href="#elevators">Elevators</a></li>
                <li><a data-toggle="tab" href="#clients">Clients</a></li>
                <li><a data-toggle="tab" href="#payments">Payments</a></li>
            </ul>

            <div class="tab-content tab__menu">
                <div id="accessPoints" class="tab-pane fade in active tab__view--content">
                    <access-points-tab :entryId="idEntry"></access-points-tab>
                </div>
                <div id="elevators" class="tab-pane fade tab__view--content">
                    <elevators-tab :entryId="idEntry"></elevators-tab>
                </div>
                <div id="clients" class="tab-pane fade tab__view--content">
                    <clients-tab :entryId="idEntry"></clients-tab>
                </div>
                <div id="payments" class="tab-pane fade">
                    <h3>Menu 3</h3>
                    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal_entry--add"> 
        <div class="modal fade" id="addEntry" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{{modalEntry.title}}</h4>
                    </div>
                    <div class="modal-body body_modal">
                        <div class="form--entry ">

                            <div class="element">
                                <span class="name">Building</span>
                                <select class="value__select" v-model=detailsEntry.building_id>
                                    <option v-for="building in buildings" :value="building.id">{{building.name}}</option>
                                </select>                   
                            </div>
                            <div class="element">
                                <span class="name">Name</span>
                                <input class="value" v-model="detailsEntry.name">                  
                            </div>
                            <div class="element">
                                <span class="name">Number of floors</span>
                                <input class="value" v-model="detailsEntry.number_of_floors">                    
                            </div>
                            <div class="element">
                                <span class="name">Number of apartments</span>
                                <input class="value" v-model="detailsEntry.number_of_apartments">                 
                            </div> 

                        </div>
                    </div>
                    <div class="modal-footer footer_modal">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" @click="edit()" v-if="modalEntry.btnEdit" >Update</button>
                        <button type="button" class="btn btn-default" @click="addEntry()" v-if="modalEntry.btnAdd" >Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>