<div class="cards tab__view">
	<div class="tab__view--header">
		<p class="subtitle">Cards List</p>
		<button class="btn_add btn" data-toggle="modal" data-target="#addCard" @click="modalAdd()" >Add new</button>

		<div>
			<div class="row search_by--inside-tabs">    
		        <div class="col-xs-8 col-xs-offset-2">
				    <div class="input-group ">
		                <div class="input-group-btn search-panel search_key">
		                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
		                    </button>
		                    <ul class="dropdown-menu " role="menu">
		                      	<li @click="changeSearchKey('client')" >Client</li>
		                      	<li @click="changeSearchKey('cards.site_code')" >Site Code</li>
		                      	<li @click="changeSearchKey('cards.site_number')" >Site Number</li>
		                      	<li class="divider"></li>
		                      	<li @click="changeSearchKey('anything')">Everything</li> <!-- -->
		                    </ul>
		                </div>
		                <input type="text" class="form-control search_value" name="x" placeholder="Search..."  v-model="inputSearch" @keyup='getAll()'>

		                <span class="input-group-btn">
		                </span>
		            </div>
		        </div>
			</div>
		</div>
	</div>

	<div class="tab__view--body">
		<table class="table tab__view-list">
			<thead>
			<tr>
				<th>Client</th>
				<th>Site Code</th>
				<th>Site Number</th>
				<th>Active</th>
				<th class="action">Action</th>
			</tr>
			</thead>
			<tbody>
				<tr v-for="card in cards">
					<td>{{card.firstname}} {{card.lastname}} </td>
					<td>{{card.site_code}} </td>
					<td>{{card.site_number}}</td>
					<td>{{card.active}}</td>
					<td class="action">
						<span class="glyphicon glyphicon-pencil manipulate__button" data-toggle="modal" data-target="#addCard" ></span>	
						<span class="glyphicon glyphicon-remove manipulate__button" @click="destroy(card.id)"></span>
						<span class="glyphicon glyphicon-info-sign manipulate__button" data-toggle="modal" data-target="#infoCard" @click="getCardAccess(card.id)"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<menu-item-footer :lengthCardsEntry="setLengthCardsEntry" sitePage="building_cards" :pagination="pagination"></menu-item-footer>

	<div class="modal fade" id="addCard" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true" >
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">{{modal.title}}</h4>
				</div>
				<div class="modal-body ">
					<div class="form--card" v-show="showCardData">
						<div class="element" v-if="clients">
	                        <span class="name">Client</span>
	                        <select :class="{value__select:true, error_value:error.client_id}" v-model="details.client" @change="chooseClient()">
	                            <option v-for="client in clients" :value="client" >{{client.firstname}} {{client.lastname}}</option>
	                        </select>
	                        <span class="error_message" v-if="error.client_id">{{error.client_id[0]}}</span>
	                    </div>
						<div class="element">
							<span class="name">Site Code</span>
							<input :class="{value:true, error_value:error.site_code}" v-model="details.site_code">
							<span class="error_message" v-if="error.site_code">{{error.site_code[0]}}</span>
						</div>
						<div class="element">
							<span class="name">Site Number</span>
							<input :class="{value:true, error_value:error.site_number}" type="email" v-model="details.site_number">
							<span class="error_message" v-if="error.site_number">{{error.site_number[0]}}</span>
						</div>
						<div class="element">
							<span class="name">Active</span>
							<div class="value">
								<i class="fa fa-toggle-on btn_active" v-if="details.active == true" @click="changeStatus();"></i>
							    <i class="fa fa-toggle-on fa-rotate-180 btn_inactive" v-if="details.active == false" @click="changeStatus();"></i>
							</div>
							<span class="error_message" v-if="error.gender">{{error.active[0]}}</span>
						</div>
					</div>

					<div class="form--cardAccess" v-show="!showCardData">

						<!-- <div class="element" >
	                        <span class="name">Buildings</span>
	                        <select :class="{value__select:true, error_value:error.client_id}" v-model="cardAccesses.entry" @change="chooseEntry()">
	                            <option v-for="entry in entries" :value="entry" >{{entry.name}}</option>
	                        </select>
	                        <span class="error_message" v-if="error.entry_id">{{error.entry_id[0]}}</span>
	                    </div> -->

						<div class="element" v-if="entriesBuilding">
	                        <span class="name">Entry</span>
	                        <select :class="{value__select:true, error_value:error.client_id}" v-model="cardAccesses.entry" @change="chooseEntry()">
	                            <option v-for="entry in entriesBuilding" :value="entry" >{{entry.name}}</option>
	                        </select>
	                        <span class="error_message" v-if="error.entry_id">{{error.entry_id[0]}}</span>
	                    </div>

						<div class="element" v-if="accessPointsEntry" >
	                        <span class="name">Access Point</span>
	                        <select :class="{value__select:true, error_value:error.client_id}" v-model="cardAccesses.accessPoint" @change="chooseAccessPoint()">
	                            <option v-for="accessPoint in accessPointsEntry" :value="accessPoint" >{{accessPoint.imei}}</option>
	                        </select>
	                        <span class="error_message" v-if="error.accessPoint_id">{{error.accessPoint_id[0]}}</span>
	                    </div>

	                    <div class="floors__accessPoint">
	                    	<span class="subtitle">Floor for Access Point</span>
	                    	<div class="floor" v-for="relay in relayAccessPoint">
	                    		<input type="checkbox" :value="relay.id" v-model="cardAccesses.relayAccess">
	                    		<span>{{relay.floor}}</span>
	                    	</div>
	                    </div>

					</div>

					<div class="form--cardAccess" v-show="!showCardData">
						<h3>This card have access in:</h3>
						
						<div class="access">
							<span class="building_access" @click="showDetailsAccessCard()" >1. Dumnica Grup/ Entry C2/ AP:1234321123</span>

							<ol class="floor_list" type="" v-show="details_access">
								<li>Garage </li>
								<li>Floor 1</li>
								<li>Floor 2</li>
								<li>Floor 3</li>
								<li>Floor 4</li>
								<li>Floor 5</li>
								<li>Floor 6</li>
								<li>Floor 7</li>

								<li>Vip Floor</li>
							</ol>
						</div>

						<div class="access">
							<span class="building_access">2. Dumnica Grup/ Entry C2/ AP:1234321123</span>

							<ol class="floor_list" type="" v-show="details_access">
								<li>Garage </li>
								<li>Floor 1</li>
								<li>Floor 2</li>
								<li>Floor 3</li>
								<li>Floor 4</li>
								<li>Floor 5</li>
								<li>Floor 6</li>
								<li>Floor 7</li>

								<li>Vip Floor</li>
							</ol>
							
						</div>

						<div class="access">
							<span class="building_access">3. Dumnica Grup/ Entry C2/ AP:1234321123</span>
						</div>
					</div>

				</div>
				<div class="modal-footer footer_modal ">
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
					<button type="button" class="btn btn-default" @click="prev()" v-if="modal.btnCard">Card data</button>
					<button type="button" class="btn btn-default" @click="edit()" v-if="modal.btnEdit">Update</button>
					<button type="button" class="btn btn-default" @click="modalConfig()" v-if="modal.btnConfigAccess">Add Access</button>
					<button type="button" class="btn btn-default" @click="add()" v-if="modal.btnAdd">Add</button>

				</div>

			</div>
		</div>
	</div>

	<div class="modal fade" id="infoCard" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" v-if="cardAccesses">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Information</h4>
				</div>
				<div class="modal-body body_modal">
					<div class="details--card">

						<!-- <div>
							<span v-for="(cardAccess, index) in cardAccesses">{{index + 1}}.{{cardAccess.relay.access_point.elevator.entry.building.name}}->
							{{cardAccess.relay.access_point.elevator.entry.name}} </span><br>
						</div>
 -->
						<!-- <div class="element" v-if="details.client">
							<label class="name">Client:</label>
							<span class="value">{{details.client.firstname}} {{details.client.lastname}}</span>
						</div>
						<div class="element" v-if="details.client">
							<label class="name">Email:</label>
							<span class="value">{{details.client.email}}</span>
						</div>
						<div class="element" v-if="details.client">
							<label class="name">Phone number:</label>
							<span class="value">{{details.client.phone_number}}</span>
						</div>
						<div class="element">
							<label class="name">Site code:</label>
							<span class="value">{{details.site_code}}</span>
						</div>
						<div class="element">
							<label class="name">Site number:</label>
							<span class="value">{{details.site_number}}</span>
						</div>
						<div class="element">
							<label class="name">Created at:</label>
							<span class="value">{{details.created_at}}</span>
						</div>
						<div class="element">
							<label class="name">Updated at:</label>
							<span class="value">{{details.updated_at}}</span>
						</div> -->

					</div>
				</div>
				<div class="modal-footer footer_modal">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</div>