<div class="cards tab__view">
	<div class="tab__view--header">
		<p class="subtitle">Cards List</p>
		<button class="btn_add btn" data-toggle="modal" data-target="#addCard" @click="modalAdd()" >Add new</button>

		<div>
			<div class="row search_by--inside-tabs">    
		        <div class="col-xs-8 col-xs-offset-2">
				    <div class="input-group ">
		                <div class="input-group-btn search-panel search_key">
		                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
		                    </button>
		                    <ul class="dropdown-menu " role="menu">
		                      	<li @click="changeSearchKey('client')" >Client</li>
		                      	<li @click="changeSearchKey('cards.site_code')" >Site Code</li>
		                      	<li @click="changeSearchKey('cards.site_number')" >Site Number</li>
		                      	<li class="divider"></li>
		                      	<li @click="changeSearchKey('anything')">Everything</li> <!-- -->
		                    </ul>
		                </div>
		                <input type="text" class="form-control search_value" name="x" placeholder="Search..."  v-model="inputSearch" @keyup='getAll()'>

		                <span class="input-group-btn">
		                </span>
		            </div>
		        </div>
			</div>
		</div>
	</div>

	<div class="tab__view--body">
		<table class="table tab__view-list table__details-info">
			<thead>
			<tr>
				<th>Client</th>
				<th>Site Code</th>
				<th>Site Number</th>
				<th>Active</th>
				<th class="action">Action</th>
			</tr>
			</thead>
			<tbody>
				<tr v-for="card in cards">
					<td>{{card.firstname}} {{card.lastname}} </td>
					<td>{{card.site_code}} </td>
					<td>{{card.site_number}}</td>
					<td> 
						<i class="fa fa-toggle-on  btn_active" v-if="card.active == true" @click="changeStatusCard(card);"></i>
						<i class="fa fa-toggle-on fa-rotate-180 btn_inactive" v-if="card.active == false" @click="changeStatusCard(card);"></i>
					</td>
					<td class="action">
						<span class="glyphicon glyphicon-pencil manipulate__button"  @click="modalEdit(card)" data-toggle="modal" data-target="#addCard" ></span>	
						<span class="glyphicon glyphicon-remove manipulate__button" @click="destroy(card.id)"></span>
						<span class="glyphicon glyphicon-copyright-mark manipulate__button" data-toggle="modal" data-target="#infoCard" @click="getCardAccess(card.id); getDetails(card)"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<menu-item-footer :lengthCardsEntry="setLengthCardsEntry" sitePage="building_cards" :pagination="pagination"></menu-item-footer>

	<div class="modal fade" id="addCard" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true" >
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">{{modal.title}}</h4>
				</div>
				<div class="modal-body ">
					<div class="form--card" v-show="showCardData">
						<div class="element" v-if="clients">
	                        <span class="name">Client</span>
	                        <select :class="{value__select:true, error_value:error.client_id}" v-model="details.client_id" @change="chooseClient(details.client_id)" v-bind:disabled="disabledCardInfo">
	                            <option class="option_value" v-for="client in clients" :value="client.id" >{{client.firstname}} {{client.lastname}}</option>
	                        </select>
	                        <span class="error_message" v-if="error.client_id">{{error.client_id[0]}}</span>
	                    </div>
						<div class="element">
							<span class="name">Site Code</span>
							<input :class="{value:true, error_value:error.site_code}" v-model="details.site_code" v-bind:disabled="disabledCardInfo">
							<span class="error_message" v-if="error.site_code">{{error.site_code[0]}}</span>
						</div>
						<div class="element">
							<span class="name">Card Code</span>
							<input :class="{value:true, error_value:error.site_number}" type="email" v-model="details.site_number" v-bind:disabled="disabledCardInfo">
							<span class="error_message" v-if="error.site_number">{{error.site_number[0]}}</span>
						</div>
						<div class="element">
							<span class="name">Active</span>
							<div class="value">
								<i class="fa fa-toggle-on  btn_active" v-if="details.active == true" @click="changeStatus();"></i>
							    <i class="fa fa-toggle-on fa-rotate-180 btn_inactive" v-if="details.active == false" @click="changeStatus();"></i>
							</div>
							<span class="error_message" v-if="error.gender">{{error.active[0]}}</span>
						</div>
					</div>

					<div class="form--cardAccess" v-show="!showCardData">

						<!-- <div class="element" >
	                        <span class="name">Buildings</span>
	                        <select :class="{value__select:true, error_value:error.client_id}" v-model="cardAccesses.entry" @change="chooseEntry()">
	                            <option v-for="entry in entries" :value="entry" >{{entry.name}}</option>
	                        </select>
	                        <span class="error_message" v-if="error.entry_id">{{error.entry_id[0]}}</span>
	                    </div> -->

						<div class="element" v-if="entriesBuilding">
	                        <span class="name">Entry</span>
	                        <select :class="{value__select:true, error_value:false}" v-model="cardAccesses.entry_id" @change="chooseEntry(cardAccesses.entry_id)">
	                            <option class="option_value" v-for="entry in entriesBuilding" :value="entry.id" >{{entry.name}}</option>
	                        </select>
	                    </div>

						<div class="element" v-if="elevatorsEntry" >
	                        <span class="name">Elevator</span>
	                        <select :class="{value__select:true, error_value:false}" v-model="cardAccesses.elevator_id" @change="chooseElevator(cardAccesses.elevator_id)" >
	                            <option class="option_value" v-for="elevator in elevatorsEntry" :value="elevator.id" >{{elevator.identifier}}</option>
	                        </select>
	                    </div>

	                    <div class="element" v-if="accessPointsElevator" >
	                        <span class="name">Access Points</span>
	                        <select :class="{value__select:true, error_value:false}" v-model="cardAccesses.access_point_id" @change="chooseAccessPoint(cardAccesses.access_point_id); addNewAccess()" >
	                            <option class="option_value" v-for="accessPoint in accessPointsElevator" :value="accessPoint.id" >{{accessPoint.imei}}</option>
	                        </select>
	                    </div>

	                    <div class="floors__accessPoint">
	                    	<span class="subtitle">Floor for Access Point</span>
	                    	<div class="floor" v-for="relay in relays" v-if="relay.floor != null">
	                    		<input type="checkbox" :value="relay.id" v-model="cardAccesses.relay_id">
	                    		<span>{{relay.floor}}</span>
	                    	</div>
	                    </div>
					</div>

					<div class="form--cardAccess" v-show="!showCardData">
						<h3>This card has access in:</h3>
							<span class="access" v-for="(building,indexBu) in cardHaveAccess">
								<span v-for="entry in building.entries">
									<span v-for="(elevator,indexEl) in entry.elevators">
										<span v-for="(access_point,indexAP) in elevator.access_points" >

											<span class="building_access" @click="showDetailsBuilding(indexEl+1,access_point.id,elevator.id,entry.id); getRealyDetailsConfig(access_point.id)">{{indexEl+1}}. B:{{building.name}}/ E:{{entry.name}}/ AP:{{access_point.imei}}
											</span>

											<!-- <span v-for="(relay,indexR) in access_point.relays">
												<span class="floor_list" v-if="showBuilding==indexEl+1">{{indexR+1}}.{{relay.floor}}</span>
											</span> -->

										</span>
									</span>
								</span>
							</span>
					</div>

				</div>
				<div class="modal-footer footer_modal ">
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
					<button type="button" class="btn btn-default" @click="prev()" v-if="modal.btnCard">Back</button>
					<button type="button" class="btn btn-default" @click="editCardAccess()" v-if="modal.btnEdit">Update</button>
					<button type="button" class="btn btn-default" @click="modalConfig()" v-if="modal.btnConfigAccess">Config Access</button>
					<button type="button" class="btn btn-default" @click="add()" v-if="modal.btnAdd">Add</button>
					<button type="button" class="btn btn-default" @click="giveAccess()" v-if="modal.btnAddAccess">Add Access</button>

				</div>

			</div>
		</div>
	</div>

	<div class="modal fade" id="infoCard" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true" v-if="cardAccesses">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Information</h4>
				</div>

				<div class="modal-body body_modal">
					<div class="form--cardAccess">

						<div class="element" v-if="entriesBuilding">
	                        <span class="name"><b>Client:</b> {{details.firstname}} {{details.lastname}}</span>
	                        <!-- <span class="value">{{}}</span> -->
	                    </div>

	                    <div class="element">
	                        <span class="name"><b>Site Code:</b> {{details.site_code}}</span>
	                        <!-- <span class="value">{{}}</span> -->
	                    </div>

	                    <div class="element">
	                        <span class="name"><b>Site Number:</b> {{details.site_number}}</span>
	                        <!-- <span class="value">{{}}124123</span> -->
	                    </div>

	                    <div class="element" v-show="false">
	                        <span class="name"><b>Building:</b> Dumnica Grup</span>
	                        <!-- <span class="value">{{}}1234123</span> -->
	                    </div>

	                    <div class="element" v-show="false">
	                        <span class="name"><b>Entry:</b> labore</span>
	                        <!-- <span class="value">{{}}42134123</span> -->
	                    </div>

	                    <div class="element" v-show="false">
	                        <span class="name"><b>Elevator:</b> Elevator123</span>
	                        <!-- <span class="value">{{}}1234421</span> -->
	                    </div>

						<!-- <div class="element" >
	                        <span class="name">Buildings</span>
	                        <select :class="{value__select:true, error_value:error.client_id}" v-model="cardAccesses.entry" @change="chooseEntry()">
	                            <option v-for="entry in entries" :value="entry" >{{entry.name}}</option>
	                        </select>
	                        <span class="error_message" v-if="error.entry_id">{{error.entry_id[0]}}</span>
	                    </div> -->

	                    <div class="floors__accessPoint" v-if='relays'>
	                    	<span class="subtitle"><b>Floor for Access Point</b></span>
	                    	<div class="floor" v-for="(relay,index) in relaysConfig" v-if="relay.floor != null">
	                    		<input type="checkbox" :value="relay.id" :checked=" relay.checked == true " v-model="cardAccesses.relay_id">
	                    		<span>{{relay.floor}}</span>
	                    	</div>
	                    </div>
					</div>

					<div class="form--cardAccess">
						<div class="access-section">
							<span v-for="(building,indexBu) in cardHaveAccess">
								<span v-for="(entry,indexEn) in building.entries">
									<span v-for="(elevator,indexEl) in entry.elevators">								
										<span class="building-access" v-for="(access_point,indexAP) in elevator.access_points" >
											<span class="address-access" >

												<span class="building_access" @click=" getRealyDetailsConfig(access_point.id) ">{{indexEl+1}}. B:{{building.name}}/ E:{{entry.name}}/ AP:{{access_point.imei}}
												</span>

												<!-- <span v-for="(relay,indexR) in access_point.relays">
													<span class="floor_list" v-if="showBuilding==indexEl+1">{{indexR+1}}.{{relay.floor}}</span>
												</span> -->
												
											</span>
											<span class="glyphicon glyphicon-remove btn-delete"></span>

										</span>
									</span>
								</span>
							</span>
						</div>
					</div>
				</div>

				<div class="modal-footer footer_modal">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-default" @click="accessCardEdit()">Save</button>

				</div>
			</div>
		</div>
	</div>

</div>