<div class="elevators tab__view">
	<div class="tab__view--header">
		<p class="subtitle">Elevators List</p>
		<button class="btn_add btn" data-toggle="modal" data-target="#addElevator">Add new</button>
	</div>

	<div class="tab__view--body">
		<table class="table tab__view-list">
			<thead> 
				<tr>
					<th>Identifier</th>
					<th>Type</th>
					<th>Made in</th>
					<th>Company</th>
					<th>Action</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="elevator in elevators">
					<td>{{elevator.identifier}}</td>
					<td>{{elevator.type}}</td>
					<td>{{elevator.made_in}}</td>
					<td>{{elevator.company}}</td>
					<td>
						<span class="glyphicon glyphicon-pencil manipulate__button" data-toggle="modal" data-target="#addElevator" @click=""></span>	
						<span class="glyphicon glyphicon-remove manipulate__button" @click="destroy(elevator.id)"></span>
						<span class="glyphicon glyphicon-info-sign manipulate__button" data-toggle="modal" data-target="#infoElevator" @click=""></span>
					</td>
				</tr>
			</tbody>

		</table>
	</div>

	<div class="modal fade" id="addElevator" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        	<h4 class="modal-title" id="myModalLabel">Add new</h4>
		      	</div>
		      	<div class="modal-body">
		        	<h3>Add form</h3>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        	<button type="button" class="btn btn-default">Save changes</button>
		      	</div>
    		</div>
  		</div>
	</div>

	<div class="modal fade" id="infoElevator" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  		<div class="modal-dialog ">
    		<div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        	<h4 class="modal-title" id="myModalLabel">Information</h4>
		      	</div>
		      	<div class="modal-body">
		        	<h3>More information</h3>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      	</div>
    		</div>
  		</div>
	</div>
</div>