<div class="sub__body">
    <div class="section__header">
        <ul class="breadcrumb-with-details_element">
            <li>
                <router-link to="/home">Home</router-link>
            </li>
            <li>
                <router-link to="/entries">Entries</router-link>
            </li>
            <li>Lesna B1 &rarr; Hyrja V/C1</li>
        </ul>
    </div>

    <div class="block__add">
        <button class="button__add--item">+ Add access pouint</button>
        <button class="button__add--item" data-toggle="modal" data-target="#elevator__add-edit">+ Add Elevator</button>
        <button class="button__add--item">+ Add Client</button>
    </div>

    <div class="all__block">
        <div class="block__details">
            <div class="block__details--header">
                <h4 class="block__details--subtitle">Information Data / Address</h4>
                <button class="minimize" v-on:click="show__info_address()">-</button>
            </div>

            <div class="block__details--body" v-if="show__address_block">
                <div class="block__details--body-left">
                    <div class="details__element">
                        <label class="element__label">Building</label>
                        <input type="text" class="element__input" v-model="detailsEntry.building">
                    </div>
                    <div class="details__element">
                        <label class="element__label">City</label>
                        <input type="text" class="element__input" v-model="detailsEntry.city_id">
                    </div>
                    <div class="details__element">
                        <label class="element__label">Street</label>
                        <input type="email" class="element__input">
                    </div>
                    <div class="details__element">
                        <label class="element__label">Neighborhood</label>
                        <input type="text" class="element__input" v-model="detailsEntry.building">
                    </div>
                    <div class="details__element">
                        <label class="element__label">Entry</label>
                        <input type="email" class="element__input" v-model="detailsEntry.entry">
                    </div>
                </div>


                <div class="block__details--body-right">
                    <div class="details__element">
                        <label class="element__label">Nr. of apartments</label>
                        <input type="email" class="element__input" v-model="detailsEntry.nrFloor">
                    </div>
                    <div class="details__element">
                        <label class="element__label">Nr. of floors</label>
                        <input type="email" class="element__input" v-model="detailsEntry.nrApartaments">
                    </div>
                </div>
            </div>
        </div>

        <div class="block__details">
            <div class="block__details--header">
                <h4 class="block__details--subtitle">Access point and Elevator</h4>
                <button class="minimize" v-on:click="show__info_accessPoint()">-</button>
            </div>

            <div class="block__details--body" v-if="show__accessPoint_block">
                <h5 class="subtitle-details">Access points</h5>
                <div class="table__accessPoint">
                    <table class="table__model_2">
                        <tr class="table__header">
                            <td>IMEI</td>
                            <td>Elevator tel.</td>
                            <td>Note</td>
                            <td></td>
                        </tr>
                        <tr class="table__row">
                            <td>12341231234123</td>
                            <td>+38649123432</td>
                            <td>Pagesa mujore 10 euro</td>
                            <td class="td__button">
                                <button>Monitor</button>
                                <button>More</button>
                            </td>
                        </tr>
                        <tr class="table__row">
                            <td>12341231234123</td>
                            <td>+38649123432</td>
                            <td>Pagesa mujore 10 euro</td>
                            <td class="td__button">
                                <button>Monitor</button>
                                <button>More</button>
                            </td>
                        </tr>
                    </table>
                </div>

                <h5 class="subtitle-details">Elevator</h5>
                <div class="table__accessPoint">
                    <table class="table__model_2">
                        <tr class="table__header">
                            <td>Elevator identifer</td>
                            <td>Made In</td>
                            <td>Company</td>
                            <td>#</td>
                        </tr>
                        <tr class="table__row">
                            <td>aDASd1234123</td>
                            <td>Kosova</td>
                            <td>ElavatorKOS</td>
                            <td class="td__button">
                                <button>View</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table__elevator">

                </div>
            </div>
        </div>

        <div class="block__addEdit--accessPoint">
            <div class="addEdit__accessPoint--header">
                <h4 class="block__details--subtitle">Add/Edit Access point</h4>
                <button class="minimize" v-on:click="show__info_accessPoint_addEdit()">-</button>
            </div>

            <div class="addEdit__accessPoint--body" v-if="show__accessPoint_addEdit_block">
                <div class="addEdit__accessPoint--mainData" >
                    <div class="details__element" v-if="show__section_config_entry">
                        <label class="element__label">Entry/Adress</label>
                        <select class="element__input" v-model="eeee">
                            <option :value="eeee">Lesna v1-Hyrja v1/c1-Fan noli </option>
                        </select>
                    </div>
                    <div class="details__element">
                        <label class="element__label">IMEI</label>
                        <input type="email" class="element__input" v-model="accessPoints.IMEI">
                    </div>
                    <div class="details__element">
                        <label class="element__label">Elevator tel.</label>
                        <input type="tezt" class="element__input" v-model="accessPoints.elevatorTel">
                    </div>
                    <div class="details__element">
                        <label class="element__label">Version</label>
                        <select class="element__input" v-model="accessPoints.version" @change="chooseVersion()" @dblclick="asd=true" v-bind:disabled="asd=false">
                            <option v-for="version in versions" :value="version" >{{version.name}}</option>
                        </select>
                    </div>
                    <div class="details__element">
                        <label class="element__label">Note</label>
                        <textarea cols="15" rows="5" class="element__textarea" v-model="accessPoints.note"></textarea>
                    </div>
                    <div class="config__relays">
                        <button class="button__config" @click="configRelays()" v-if="btnConfigRelays">Config relays</button>
                    </div>
                </div>
                <!-- <div :class="{ 'disable__accessPoints_relay-disabled' : true }"></div> -->
                <div class="addEdit__accessPoint--relay" v-show="active_relay">
                    <div class="relay__button">
                        <button class="button__realay" v-for="n in numberOfRelays" @click="setRelayDetails(n)">Relay {{n}}</button>
                    </div>

                    <div class="relay__details">
                        <fieldset class="relay__details--space" >
                            <legend class="relay__name">{{relayName}}</legend>

                            <div class="details__element">
                                <label class="element__label">Name</label>
                                <select class="element__select" v-model="relayfloor">
                                    <option>Garage</option>
                                    <option v-for="n in 6">Floor {{n}}</option>
                                    <option>Vip floor</option>
                                    <option>Other</option>
                                </select>

                                <input type="text" class="element__input-small">
                            </div>
                            <div class="details__element">
                                <label class="element__label">Pulse time</label>
                                <input type="email" v-model="relayPulsTime" class="element__input">
                            </div>
                            <div class="next_previous--element">
                                <button class="button__previous-relay" @click="previousRelay()">&laquo;</button>
                                <button class="button__next-relay" @click="nextRelay()">&raquo;</button>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="addEdit__accessPoint--relation-relay" v-show="active_relationRelays">
                    <h3>Relaton of relays</h3>
                    <ul>
                        <li>Relay 0 &rarr; Garage</li>
                        <li>Relay 1 &rarr; Floor -1</li>
                        <li>Relay 2 &rarr; Floor 0</li>
                        <li>Relay 3 &rarr; Floor 1</li>
                        <li>Relay 4 &rarr; Floor 2</li>
                        <li>Relay 5 &rarr; Floor 3</li>
                        <li>Relay 6 &rarr; Floor 4</li>
                        <li>Relay 7 &rarr; Floor 5</li>
                        <li>Relay 8 &rarr; Floor 6</li>
                        <li>Relay 9 &rarr; Floor 7</li>
                        <li>Relay 10 &rarr; Floor 8</li>
                        <li>Relay 11 &rarr; Floor 9</li>
                        <li>Relay 12 &rarr; Floor 10</li>
                    </ul>
                </div>
                <div class="block__addEdit--accessPoint-footer" v-show="active_SaveAccessPoint">
                    <button>Save</button>
                    <button>Clear</button>
                </div>
            </div>
        </div>

        <div class="modal fade modal--padding-top" id="elevator__add-edit" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" >
        <div class="modal-dialog" >
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><b>Add/Edit new elevator</b></h4>
                </div>
                <div class="modal-body" >
                    <div class="modal__data--input">
                        <label class="modal__data--name">Identifier</label>
                        <input class="modal__data--text" type="" name="" v-model="elevatorDetails.identifier">
                        <!-- <p v-if="error__add_objBuilding.company" class="error__details">error</p> -->
                    </div>

                    <div class="modal__data--input">
                        <label class="modal__data--name">Type</label>
                        <input class="modal__data--text" type="text" name="" v-model="elevatorDetails.type">
                        <!-- <p v-if="error__add_objBuilding.building" class="error__details">{{error__add_objBuilding.building}}</p> -->
                    </div>

                    <div class="modal__data--input">
                        <label class="modal__data--name">Made In</label>
                        <input class="modal__data--text" type="text" name="" v-model="elevatorDetails.madeIn">
                    </div>

                    <div class="modal__data--input">
                        <label class="modal__data--name">Company</label>
                        <input class="modal__data--text" type="text" name=""  v-model="elevatorDetails.company">
                    </div>

                    
                    
                    <div class="modal__buttons">                 
                        <button @click="addElevator()" v-if="addButton">Save</button>
                        <button @click="updateElevator()" v-if="editButton">Edit</button>
                        <button @click="clearElevator()" v-if="clearButton">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>