<div class="entry__clients" >
	<div class="content__filter--header">
		<div class="button__add--and--pagination">
			<button class="btn btn-add btn__add"  data-toggle="modal" data-target="#addNew">Add new</button>
			<div class="pagination__">
				<span class="pagination-details">
					<span class="pagination__min">1</span>–
					<span class="pagination__max">10 </span>of
					<span class="pagination__length"> 53</span>
				</span>
				<div class="pagination-navigation">
					<button type="button" class="btn__navigation">
						<i class="fa fa-angle-left" aria-hidden="true"></i>
					</button>
					<button type="button" class="btn__navigation">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</button>	
				</div>
			</div>	
		</div>
		<div class="filter__search">
			<div class="search__row">
			    <div class="input-group" id="adv-search">
			        <input type="text" class="form-control" placeholder="Search ..." />
			        <div class="input-group-btn">
			            <div class="btn-group" role="group">
			                <div class="dropdown">
			                   	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
			                    <div class="dropdown-menu dropdown-menu-right dropdown__filter" role="menu">     
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
		<div class="horizontal__line"></div>
	</div>

	<div class="content__filter--body">
		<div class="table__main table__4c">
			<div class="table__header">
				<div class="table__row" data-toggle="modal" data-target="#client__details">
					<div class='table__th--data'>
						<div class="table__th">Client</div>
						<div class="table__th">Email</div>
						<div class="table__th">Phone number 1</div>
						<div class="table__th">Phone number 2</div>
					</div>
					<div class="table__th--action"></div>
				</div>
			</div>
			<div class="table__body">
				<div class="table__row" data-toggle="modal" data-target="#client__details">
					<div class='table__td--data'>
						<div class='table__td'>Alma Alma</div>
						<div class='table__td'>alma_96@hotmail.com</div>
						<div class='table__td'>+383123123</div>
						<div class='table__td'>+383433123</div>
					</div>
					<div class="table__td--action">
						<div class="dropdown">
						   	<div class="icon__dropdown dropdown-toggle"  id="dropdownRowBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						        <i class="fa fa-ellipsis-v" ></i>
						    </div>
					        <ul class="dropdown-menu dropdown-menu-main dropdown-menu-right" aria-labelledby="dropdownRowBuilding">
					            <li class="dropdown__item">
					                <div class="dropdown__item--icon"><i class="fa fa-info" aria-hidden="true"></i></div>
					                <span class="dropdown__item--description">Info</span>
					            </li>
					            <li class="dropdown__item">
					               	<div class="dropdown__item--icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
					               	<span class="dropdown__item--description">Edit</span>
					            </li>
					            <li class="dropdown__item">
					               	<div class="dropdown__item--icon"><i class="fa fa-trash" aria-hidden="true"></i></div>
					               	<span class="dropdown__item--description">Delete</span>
					            </li>
					        </ul>
					    </div>
					</div>
				</div>

				<div class="table__row" data-toggle="modal" data-target="#client__details">
					<div class='table__td--data'>
						<div class='table__td'>Alma Alma</div>
						<div class='table__td'>alma_96@hotmail.com</div>
						<div class='table__td'>+383123123</div>
						<div class='table__td'>+383433123</div>
					</div>
					<div class="table__td--action">
						<div class="dropdown">
						   	<div class="icon__dropdown dropdown-toggle"  id="dropdownRowBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						        <i class="fa fa-ellipsis-v" ></i>
						    </div>
					        <ul class="dropdown-menu dropdown-menu-main dropdown-menu-right" aria-labelledby="dropdownRowBuilding">
					            <li class="dropdown__item">
					                <div class="dropdown__item--icon"><i class="fa fa-info" aria-hidden="true"></i></div>
					                <span class="dropdown__item--description">Info</span>
					            </li>
					            <li class="dropdown__item">
					               	<div class="dropdown__item--icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
					               	<span class="dropdown__item--description">Edit</span>
					            </li>
					            <li class="dropdown__item">
					               	<div class="dropdown__item--icon"><i class="fa fa-trash" aria-hidden="true"></i></div>
					               	<span class="dropdown__item--description">Delete</span>
					            </li>
					        </ul>
					    </div>
					</div>
				</div>

				<div class="table__row" data-toggle="modal" data-target="#client__details">
					<div class='table__td--data'>
						<div class='table__td'>Alma Alma</div>
						<div class='table__td'>alma_96@hotmail.com</div>
						<div class='table__td'>+383123123</div>
						<div class='table__td'>+383433123</div>
					</div>
					<div class="table__td--action">
						<div class="dropdown">
						   	<div class="icon__dropdown dropdown-toggle"  id="dropdownRowBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						        <i class="fa fa-ellipsis-v" ></i>
						    </div>
					        <ul class="dropdown-menu dropdown-menu-main dropdown-menu-right" aria-labelledby="dropdownRowBuilding">
					            <li class="dropdown__item">
					                <div class="dropdown__item--icon"><i class="fa fa-info" aria-hidden="true"></i></div>
					                <span class="dropdown__item--description">Info</span>
					            </li>
					            <li class="dropdown__item">
					               	<div class="dropdown__item--icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
					               	<span class="dropdown__item--description">Edit</span>
					            </li>
					            <li class="dropdown__item">
					               	<div class="dropdown__item--icon"><i class="fa fa-trash" aria-hidden="true"></i></div>
					               	<span class="dropdown__item--description">Delete</span>
					            </li>
					        </ul>
					    </div>
					</div>
				</div>

				<div class="table__row" data-toggle="modal" data-target="#client__details">
					<div class='table__td--data'>
						<div class='table__td'>Alma Alma</div>
						<div class='table__td'>alma_96@hotmail.com</div>
						<div class='table__td'>+383123123</div>
						<div class='table__td'>+383433123</div>
					</div>
					<div class="table__td--action">
						<div class="dropdown">
						   	<div class="icon__dropdown dropdown-toggle"  id="dropdownRowBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						        <i class="fa fa-ellipsis-v" ></i>
						    </div>
					        <ul class="dropdown-menu dropdown-menu-main dropdown-menu-right" aria-labelledby="dropdownRowBuilding">
					            <li class="dropdown__item">
					                <div class="dropdown__item--icon"><i class="fa fa-info" aria-hidden="true"></i></div>
					                <span class="dropdown__item--description">Info</span>
					            </li>
					            <li class="dropdown__item">
					               	<div class="dropdown__item--icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
					               	<span class="dropdown__item--description">Edit</span>
					            </li>
					            <li class="dropdown__item">
					               	<div class="dropdown__item--icon"><i class="fa fa-trash" aria-hidden="true"></i></div>
					               	<span class="dropdown__item--description">Delete</span>
					            </li>
					        </ul>
					    </div>
					</div>
				</div>

				<div class="table__row" data-toggle="modal" data-target="#client__details">
					<div class='table__td--data'>
						<div class='table__td'>Alma Alma</div>
						<div class='table__td'>alma_96@hotmail.com</div>
						<div class='table__td'>+383123123</div>
						<div class='table__td'>+383433123</div>
					</div>
					<div class="table__td--action">
						<div class="dropdown">
						   	<div class="icon__dropdown dropdown-toggle"  id="dropdownRowBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						        <i class="fa fa-ellipsis-v" ></i>
						    </div>
					        <ul class="dropdown-menu dropdown-menu-main dropdown-menu-right" aria-labelledby="dropdownRowBuilding">
					            <li class="dropdown__item">
					                <div class="dropdown__item--icon"><i class="fa fa-info" aria-hidden="true"></i></div>
					                <span class="dropdown__item--description">Info</span>
					            </li>
					            <li class="dropdown__item">
					               	<div class="dropdown__item--icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
					               	<span class="dropdown__item--description">Edit</span>
					            </li>
					            <li class="dropdown__item">
					               	<div class="dropdown__item--icon"><i class="fa fa-trash" aria-hidden="true"></i></div>
					               	<span class="dropdown__item--description">Delete</span>
					            </li>
					        </ul>
					    </div>
					</div>
				</div>

				<div class="table__row" data-toggle="modal" data-target="#client__details">
					<div class='table__td--data'>
						<div class='table__td'>Alma Alma</div>
						<div class='table__td'>alma_96@hotmail.com</div>
						<div class='table__td'>+383123123</div>
						<div class='table__td'>+383433123</div>
					</div>
					<div class="table__td--action">
						<div class="dropdown">
						   	<div class="icon__dropdown dropdown-toggle"  id="dropdownRowBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						        <i class="fa fa-ellipsis-v" ></i>
						    </div>
					        <ul class="dropdown-menu dropdown-menu-main dropdown-menu-right" aria-labelledby="dropdownRowBuilding">
					            <li class="dropdown__item">
					                <div class="dropdown__item--icon"><i class="fa fa-info" aria-hidden="true"></i></div>
					                <span class="dropdown__item--description">Info</span>
					            </li>
					            <li class="dropdown__item">
					               	<div class="dropdown__item--icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
					               	<span class="dropdown__item--description">Edit</span>
					            </li>
					            <li class="dropdown__item">
					               	<div class="dropdown__item--icon"><i class="fa fa-trash" aria-hidden="true"></i></div>
					               	<span class="dropdown__item--description">Delete</span>
					            </li>
					        </ul>
					    </div>
					</div>
				</div>

				<div class="table__row" data-toggle="modal" data-target="#client__details">
					<div class='table__td--data'>
						<div class='table__td'>Alma Alma</div>
						<div class='table__td'>alma_96@hotmail.com</div>
						<div class='table__td'>+383123123</div>
						<div class='table__td'>+383433123</div>
					</div>
					<div class="table__td--action">
						<div class="dropdown">
						   	<div class="icon__dropdown dropdown-toggle"  id="dropdownRowBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						        <i class="fa fa-ellipsis-v" ></i>
						    </div>
					        <ul class="dropdown-menu dropdown-menu-main dropdown-menu-right" aria-labelledby="dropdownRowBuilding">
					            <li class="dropdown__item">
					                <div class="dropdown__item--icon"><i class="fa fa-info" aria-hidden="true"></i></div>
					                <span class="dropdown__item--description">Info</span>
					            </li>
					            <li class="dropdown__item">
					               	<div class="dropdown__item--icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
					               	<span class="dropdown__item--description">Edit</span>
					            </li>
					            <li class="dropdown__item">
					               	<div class="dropdown__item--icon"><i class="fa fa-trash" aria-hidden="true"></i></div>
					               	<span class="dropdown__item--description">Delete</span>
					            </li>
					        </ul>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade modal__design" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNew" aria-hidden="true">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title" id="myModalLabel">Add new</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="contact-section">
						<div class="container">
							<form>
								<div class="col-md-12 form-line">
						  			<div class="form-group">
						  				<label>First name</label>
								    	<input type="text" class="form-control" id="" placeholder=" Enter First name">
							  		</div>
							  		<div class="form-group">
								    	<label>Last name</label>
								    	<input type="text" class="form-control" id="" placeholder=" Enter Last name">
								  	</div>
								  	<div class="form-group">
								    	<label>Email</label>
								    	<input type="email" class="form-control" id="" placeholder=" Enter birthday">
						  			</div>
						  			<div class="form-group">
								    	<label>Phone number 1</label>
								    	<input type="text" class="form-control" id="" placeholder=" Enter phone number 1">
						  			</div>
						  			<div class="form-group">
								    	<label>Phone number 2</label>
								    	<input type="text" class="form-control" id="" placeholder=" Enter phone number 2">
						  			</div>
						  			<div class="form-group">
								    	<label>Personal number</label>
								    	<input type="text" class="form-control" id="" placeholder=" Enter phone number 2">
						  			</div>
								  	<div class="form-group">
								    	<label>Birthday</label>
								    	<input type="date" class="form-control" id="" placeholder=" Enter birthday">
						  			</div>
								  	<div class="form-group">
								    	<label>Gender</label>
								    	<div>
									    	<label class="radio-inline">
										      	<input type="radio" name="gender">M
										    </label>
										    <label class="radio-inline">
										      	<input type="radio" name="gender">F
										    </label>
										</div>
						  			</div>
						  		</div>
						  		
							</form>
						</div>
					</div>
				</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        	<button type="button" class="btn btn-primary">Save changes</button>
	      		</div>
	    	</div>
	  	</div>
	</div>

	<div class="modal fade modal__design" id="client__details" tabindex="-1" role="dialog" aria-labelledby="client__details" aria-hidden="true">
		<div class="modal-dialog modal-lg modal__large">
		   	<div class="modal-content">
		   		<div class="modal-header">
		      		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		      		<div class="menu__client--entry">
		      			<span class="menu__item">Cards</span>
		      			<span class="menu__item">Payment</span>
		      		</div>
		   		</div>
		   		<div class="modal-body">
		   			<div class="contact-section">
						<div class="container">
							<div class="modal__body--addNew">
								<button class="btn btn-add" data-toggle="modal" data-target="#detailsCardAccess">Add new</button>
							</div>
							
							<div class="modal__body--content">
								<div class="this__entry--access table__main table__4c">
									<div class="table__header">
										<div class="table__row" data-toggle="modal" data-target="#client__details">
											<div class='table__th--data'>
												<div class="table__th">Card code</div>
												<div class="table__th">Site number</div>
												<div class="table__th">Address</div>
												<div class="table__th--active">Active</div>
											</div>
											<div class="table__th--action"></div>
										</div>
									</div>
									<div class="table__body">
										<div class="table__row " data-toggle="modal" data-target="#client__details">
											<div class='table__td--data'  >
												<div class='table__td'>1234123</div>
												<div class='table__td'>4213</div>
												<div class='table__td'>Prishtine/ Fan noli</div>
												<div class='table__td--active'><i class="fa fa-toggle-on btn_active"></i></div>
											</div>
											<div class="table__td--action">
												<div class="dropdown">
													<div class="icon__dropdown dropdown-toggle"  id="dropdownRowBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
														<i class="fa fa-ellipsis-v" ></i>
													</div>
													<ul class="dropdown-menu dropdown-menu-main dropdown-menu-right" aria-labelledby="dropdownRowBuilding">
														<li class="dropdown__item">
															<div class="dropdown__item--icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
															<span class="dropdown__item--description">Edit</span>
														</li>
														<li class="dropdown__item">
															<div class="dropdown__item--icon"><i class="fa fa-trash" aria-hidden="true"></i></div>
															<span class="dropdown__item--description">Delete</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="table__row " data-toggle="modal" data-target="#client__details">
											<div class='table__td--data'  >
												<div class='table__td'>1234123</div>
												<div class='table__td'>4213</div>
												<div class='table__td'>Prishtine/ Fan noli</div>
												<div class='table__td--active'><i class="fa fa-toggle-on btn_active"></i></div>
											</div>
											<div class="table__td--action">
												<div class="dropdown">
													<div class="icon__dropdown dropdown-toggle"  id="dropdownRowBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
														<i class="fa fa-ellipsis-v" ></i>
													</div>
													<ul class="dropdown-menu dropdown-menu-main dropdown-menu-right" aria-labelledby="dropdownRowBuilding">
														<li class="dropdown__item">
															<div class="dropdown__item--icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
															<span class="dropdown__item--description">Edit</span>
														</li>
														<li class="dropdown__item">
															<div class="dropdown__item--icon"><i class="fa fa-trash" aria-hidden="true"></i></div>
															<span class="dropdown__item--description">Delete</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="table__row " data-toggle="modal" data-target="#client__details">
											<div class='table__td--data'  >
												<div class='table__td'>1234123</div>
												<div class='table__td'>4213</div>
												<div class='table__td'>Prishtine/ Fan noli</div>
												<div class='table__td--active'><i class="fa fa-toggle-on btn_active"></i></div>
											</div>
											<div class="table__td--action">
												<div class="dropdown">
													<div class="icon__dropdown dropdown-toggle"  id="dropdownRowBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
														<i class="fa fa-ellipsis-v" ></i>
													</div>
													<ul class="dropdown-menu dropdown-menu-main dropdown-menu-right" aria-labelledby="dropdownRowBuilding">
														<li class="dropdown__item">
															<div class="dropdown__item--icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
															<span class="dropdown__item--description">Edit</span>
														</li>
														<li class="dropdown__item">
															<div class="dropdown__item--icon"><i class="fa fa-trash" aria-hidden="true"></i></div>
															<span class="dropdown__item--description">Delete</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="others__entry--access">	
									<span class="title">Access in other entries</span>
									<div class="horizontal__line line"></div>
									<div class="table__main table__4c">
										<div class="table__header">
											<div class="table__row" data-toggle="modal" data-target="#client__details">
												<div class='table__th--data'>
													<div class="table__th">Card code</div>
													<div class="table__th">Site number</div>
													<div class="table__th">Address</div>
													<div class="table__th--active">Active</div>
												</div>
												<div class="table__th--action"></div>
											</div>
										</div>
										<div class="table__body">
											<div class="table__row " data-toggle="modal" data-target="#client__details">
												<div class='table__td--data'  >
													<div class='table__td'>1234123</div>
													<div class='table__td'>4213</div>
													<div class='table__td'>Prizeren/ Talat Xhaferi</div>
													<div class='table__td--active'><i class="fa fa-toggle-on btn_active"></i></div>
												</div>
												<div class="table__td--action">
													<div class="dropdown">
														<div class="icon__dropdown dropdown-toggle"  id="dropdownRowBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
															<i class="fa fa-ellipsis-v" ></i>
														</div>
														<ul class="dropdown-menu dropdown-menu-main dropdown-menu-right" aria-labelledby="dropdownRowBuilding">
															<li class="dropdown__item">
																<div class="dropdown__item--icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
																<span class="dropdown__item--description">Edit</span>
															</li>
															<li class="dropdown__item">
																<div class="dropdown__item--icon"><i class="fa fa-trash" aria-hidden="true"></i></div>
																<span class="dropdown__item--description">Delete</span>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="table__row " data-toggle="modal" data-target="#client__details">
												<div class='table__td--data'  >
													<div class='table__td'>1234123</div>
													<div class='table__td'>4213</div>
													<div class='table__td'>Prizeren/ Talat Xhaferi</div>
													<div class='table__td--active'><i class="fa fa-toggle-on btn_active"></i></div>
												</div>
												<div class="table__td--action">
													<div class="dropdown">
														<div class="icon__dropdown dropdown-toggle"  id="dropdownRowBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
															<i class="fa fa-ellipsis-v" ></i>
														</div>
														<ul class="dropdown-menu dropdown-menu-main dropdown-menu-right" aria-labelledby="dropdownRowBuilding">
															<li class="dropdown__item">
																<div class="dropdown__item--icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
																<span class="dropdown__item--description">Edit</span>
															</li>
															<li class="dropdown__item">
																<div class="dropdown__item--icon"><i class="fa fa-trash" aria-hidden="true"></i></div>
																<span class="dropdown__item--description">Delete</span>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="table__row " data-toggle="modal" data-target="#client__details">
												<div class='table__td--data'  >
													<div class='table__td'>1234123</div>
													<div class='table__td'>4213</div>
													<div class='table__td'>Prizeren/ Talat Xhaferi</div>
													<div class='table__td--active'><i class="fa fa-toggle-on btn_active"></i></div>
												</div>
												<div class="table__td--action">
													<div class="dropdown">
														<div class="icon__dropdown dropdown-toggle"  id="dropdownRowBuilding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
															<i class="fa fa-ellipsis-v" ></i>
														</div>
														<ul class="dropdown-menu dropdown-menu-main dropdown-menu-right" aria-labelledby="dropdownRowBuilding">
															<li class="dropdown__item">
																<div class="dropdown__item--icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
																<span class="dropdown__item--description">Edit</span>
															</li>
															<li class="dropdown__item">
																<div class="dropdown__item--icon"><i class="fa fa-trash" aria-hidden="true"></i></div>
																<span class="dropdown__item--description">Delete</span>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		    </div>
		</div>
	</div>

	<div class="modal fade modal__design" id="detailsCardAccess" tabindex="-1" role="dialog" aria-labelledby="detailsCardAccess" aria-hidden="true">
		<div class="modal-dialog">
		    <div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        	<div class="modal__header--filter">
			        	<input list="address__list" placeholder="Address" class="input__filter"/>
						<datalist id="address__list">
							<option class="address__list-item" value="Address32"></option>
							<option class="address__list-item" value="Address1"></option>
							<option class="address__list-item" value="Address2"></option>
							<option class="address__list-item" value="Address3"></option>
							<option class="address__list-item" value="Address4"></option>
							<option class="address__list-item" value="Address3"></option>
						</datalist>
					</div>

					<div class="modal__header--filter">
			        	<input list="entries__list" placeholder="Entry" class="input__filter"/>
						<datalist id="entries__list">
							<option calss="entries__list-item" value="Entry1"></option>
							<option calss="entries__list-item" value="Entry2"></option>
							<option calss="entries__list-item" value="Entry3"></option>
							<option calss="entries__list-item" value="Entry4"></option>
							<option calss="entries__list-item" value="Entry5"></option>
							<option calss="entries__list-item" value="Entry6"></option>
						</datalist>
					</div>
		      	</div>
		      	
		      	<div class="modal-body">
		      		<div class="container container__right--padding-none">
						<div class="modal__details--list">
							<span class="main__entry">Entry A</span>
							<!-- <div class="horisontal__line"></div> -->
							<div class="others__entries">
								<span class="entries__item">Entry B</span>
								<span class="entries__item">Entry D</span>
							</div>
						</div>

						<div class="modal__details--floors">
							<div class="modal__details--floors-header">
								<div class="select__all--floors">
									<i class="fa fa-toggle-on btn_active btn_turn_on"></i>
									<span>Turn on all</span>
								</div>
								<div class="btn__save">
									<span>Save</span>
									<i class="fa fa-check-circle"></i>
								</div>
							</div>
							<div class="modal__details--floors-body">
			                    <div class="floor" v-for="(relay,index) in 10">
			                    	<i class="fa fa-toggle-on btn_active"></i>
			                    	<span>Floor 1</span>
			                    </div>
			                  <!--   <div class="floor" v-for="(relay,index) in 10">
			                    	<i class="fa fa-toggle-on btn_active"></i>
			                    	<span>Garage</span>
			                    </div> -->
			                </div>
						</div>

					</div>
				</div>

		    </div>
		</div>
	</div>
</div>