	<div class="footer__paginat">
		<!-- <input type="text" :value="show__items" @input="updateShowItems($event.target.value)"> -->
		<div class="pagination-model">
			<a  @click="Pagination('min')">&Lang;</a>
		    <a  @click="Pagination('prev')">&lang;</a>
		    
		    <a v-for="page in (minPage, maxPage)" :class="{'active' : (page === paginatePage)}" @click="Pagination(page)" v-if="page>=minPage && page<=maxPage">{{page}}</a>

		    <a @click="Pagination('next')">&rang;</a>
		    <a @click="Pagination('max')">&Rang;</a>
		</div>

		<div class="show__row"> 
			<label>Show:</label>
			<select @change="setParams()" v-model="showItem">
				<option>10</option>
				<option>20</option>
				<option>30</option>
				<option value="10000">All</option>
			</select>
		</div>
	</div>