<div class="header">
	
	<div class="header__logo">
		<!-- <img src="/image/logisticsplus_logo.png"> -->
	</div>


	<ul class="header--menu-items">
		<router-link to="/home"><li>Home</li></router-link>
		<router-link to="/buildings"><li>Buildings</li></router-link>
		<router-link to="/entries"><li>Entries</li></router-link>
		<a><li>Access points</li></a>
		<a><li>Clients</li></a>
		<a><li>Users</li></a>
		<a><li>Employees</li></a>
		<a><li>Payments</li></a>
		<a><li>Log out</li></a>
	</ul>
	
</div>