.sub__body {

	position: relative;
	background-color: #eee;

	.section__header {
		// background-color: #eee;
		position: relative;
		width: 100%;
		float: left;

		.menu__item-title {
			padding-top: 30px;
			padding-left: 15px;
			padding-bottom: 10px;
			position: relative;
			z-index: 2;
		}

		.search__input {
			float: right;
			height: 41px;
			font-size: 18px;
			width: 15%;
			position: relative;
			margin-right: 10px;
		}
		.search__key {
			float: right;
			height: 41px;
			width: 9%;
			position: relative;

		}

		.breadcrumb-with-root_element {
			padding: 8px 16px;
			list-style: none;
			background-color: #eee;
			width: auto;
			margin-bottom: 10px;
			position: relative;
			float: left;
			z-index: 1;
			li {
				display: inline;
				font-size: 18px;
				a {
					color: $dashbordColorAlph;
					text-decoration: none;
					&:hover {
						color: $dashbordColorAlph;
						text-decoration: underline;
					}
				}
			}
			li+li {
				&:before {
					padding: 7px;
					color: black;
					content: "/\00a0";
				}
			}
		}

		.search_by {
			.col-right {
				float: right;
				margin-right: 10px;

				.search_key {
					float: right;
					width: auto;

					ul {
						li {
							cursor: pointer;
							padding-left: 15px;

							&:hover {
								background-color: $hoverSearchKey;
							}
						}

					}
				}
				.search_value {
					float: right;
					width: 35%;
				}
			}
		}
	}

	.block__add {
		margin-bottom: 20px;
		// margin-left: 10px;
		// margin-right: 10px;
		padding-left: 20px;
		padding-right: 10px;
		width: 100%;
		float: left;

		.button__view-left {
			margin-right: 5px;
		}

		.button__add--item {
			float: right;
			width: auto !important;
			// width: 15%;
		}
	}
}

.modal__data--input{
	width:100%;
	margin-bottom: 5px;


	.modal__data--name{
		width: 40%;
		// float: right;
		padding-right: 10px;
		text-align: right;
		vertical-align: top;
	}
	.modal__data--text{
		width: 40%;
		height: 24px;
		border: 1px solid $borderInput;
		padding-left: 1px;
		outline: none;

		// float:left;
	}

	.on_click_modal__select{
		width: 40%;

		option {
			height: 30px;
			text-align: left;
		}

		&:focus {

		}
		&:active {

		}
	}

	.modal__select{
		@extend .on_click_modal__select;

		option {
			height: 30px;
			text-align: left;
		}
	}

	.map__location{
		width: 100%;
		height: 250px;
		background-color: #003;
		position: relative;
		text-align: center;
		margin-top: 15px;
	}

	.error__details{
		font-size:14px;
		width:100%;
		padding-left: 41%;
		color: red;

	}
}

.modal__buttons {
	width: 100%;
	text-align:right;
	position: relative;
}


.building__details--body {

	width: 100%;
	float: left;
	overflow: hidden;
	min-height: calc(100vh - 70px);

	.information {
		width:23%;
		background-color: $infoSector;
		color:$fontColorInfoSection;
		position: relative;
		float: left;

		padding-bottom: 500em;
		margin-bottom: -500em;

		min-height: calc(100vh - 70px) ;
		height: auto;
		// position: fixed;

		// padding-bottom:20px; 

		.profile__building {
			margin-bottom: 0px;
			float: left;

			.building__logo{
				margin: 2%;
				width:96%;
				height: 150px;

				border-style: solid;
				border-width: 1px;
				border-color: #7f8c8d;
				border-radius: 8px;
				opacity: 0.85;

			}

			.building__name {
				margin-left: 5px;
				font-size: 20px;
			}

			.building__subtitle {
				margin-top: 20px;
				margin-left: 5px;
				font-size: 14px;
				border-bottom: 1px solid $borderInput;
			}
			.address__item {
				width: 100%;
				float: left;

				.building__address-left {
					width:45%;
					text-align: right;
				}

				.building__address-right {
					width:45%;
					float: right;
					margin-right: 20px;
				}
			}
		}

		.list__entry {
			padding-top: 25px;
			width: 100%;
			float: left;

			.building__subtitle {
				margin-left: 5px;

				font-size: 14px;
				border-bottom: 1px solid $borderInput;
			}

			.entry__link {
				width:100%;
				padding-left: 20px;
				padding-top: 5px;
				cursor: pointer;
				font-size: 20px;
				height: 35px;
				transition: all 100ms ;
				&:hover, &:focus, &:active {
					background-color: rgba($alphabeticalColor,0.2);
					border-left: 3px solid $alphabeticalColor;
				}

				.entry__name {
					margin-left: 10px;
				}

			}

			.entry__link-new {
				@extend .entry__link;
				margin-bottom:25px;

				&:hover, &:focus, &:active {
					border-color: transparent !important;
				}
			}

			.entry__link-active {
				background-color: rgba($alphabeticalColor,0.1);
				border-left: 3px solid $alphabeticalColor;
			}

		}
	}

	.tabs__section_full {
		width:100%;
		position: relative;
		float: left;
		padding-left: 20px;
		padding-top: 10px;
		background: $tabsSection;

		padding-bottom: 500em;
		margin-bottom: -500em;

		@extend .tab__menu;
	}

	.tabs__section {
		width:77%;
		position: relative;
		float: left;
		padding: 0px 20px 0px 20px;
		padding-top: 10px;
		background: $tabsSection;

		padding-bottom: 500em;
		margin-bottom: -500em;

		.info_bar {
			width: 100%;
			height: 50%;
			float: left;
			text-align: left;
			margin: 20px 0px;
			.element {
				float: left;
				width: 30%;
				.title {}
				.value {}
			}
		}

		.tab_section {
			background-color: rgb(255, 255, 255);
			float:left;
			padding: 20px;
			margin: 10px 20px 20px 0px;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
			width: 100%;

			min-height: 90vh;

			.tab__menu {
				float: left;
				width: 100%;
				padding: 10px;

				.tab__view--content {
					overflow-y:auto;
					.tab__view {
						.tab__view--header {
							margin-top:10px;
							margin-bottom: 10px;
							width: 100%;
							float: left;

							.subtitle {
								font-size: 20px;
								margin-left: 10px;
								margin-top:5px;
								float: left;
								width: 50%;
								vertical-align: middle;
							}
							.btn_add {
								float: right;
								width: auto;
								margin-right: 10px;
							}
						}

						.tab__view--body {
							// margin-top:20px;
							// margin-bottom: 20px;
							width: 100%;
							float: left;
							min-height: 50vh;

							.tab__view-list {
								width: 100%;

								thead {
									display: block;
									width: 100%;
									margin-right: 10px;


									tr {
										width: 100%;
										display: inline-table;
										th {
											min-width: 20%;
											max-width: auto;
											display: inline-block;

										}
										.action {
											width: 20%;
											text-align: center;
											display: inline-block;
											// margin-right: 2%;
										}
									}
								}

								tbody {

									display:block;

									height: auto;
									overflow-y: auto;
									overflow-x: hidden;

									tr {
										width: 100%;
										display: inline-table;
										td {
											width: 20%;
											display: inline-block;
											word-wrap: break-word;
										}
										.action {
											text-align: center;
											width: 20%;
											display: inline-block;
										}
									}

								}

								.manipulate__button{
									width: 20px;
									cursor: pointer;
									color:$alphabeticalColor;


									&:hover, &:focus {
										opacity: 0.8;
									}
								}

							}
						}
					}

					.accessPoints {

						.body_modal {
							float: left;
							.addEdit__accessPoint--mainData {
								position: relative;
								width: 30%;
								// opacity: 0;
								// cursor: default;
								// margin-right:;
								float: left;
								margin-top: 15px;
								margin-left:15px;

								.details__element {
									float: left;
									width: 100%;
									margin-bottom: 5px;
									top: 0;
									position: relative;

									.element__label {
										width:40%;
										text-align: right;
										margin-right: 15px;
										position: relative;
										float: left;
										top: 0;
									}

									.element__input {
										width:50%;
										outline: none;
										border: 0;
										outline: 0;
										background: transparent;
										border-bottom: 1px solid $borderInput;
										padding-left: 5px;

									}

									.element__textarea {
										width:50%;
										outline: none;
										border: 0;
										border-bottom: 1px solid $borderInput;
										padding-left: 5px;
										resize: none;

									}
								}

								.config__relays {
									float: left;
									width: 100%;
									margin-bottom: 5px;
									top: 0;
									position: relative;
									padding-right: 5%;

									.button__config {
										float: right;
									}
								}
							}

							.addEdit__accessPoint--relay {
								float: left;
								width: 45%;
								padding-bottom: 30px;
								top: 0;
								display: flex;
								flex-wrap: wrap;
								justify-content: space-between;

								.relay__button {
									padding-top: 15px;
									text-align: center;

									.button__realay {
										background-color: #f1f1f1;
										min-width: 80px;
										width: 22%;
										margin: 3px;
										text-align: center;
										height: 30px;
									}
								}

								.relay__details {
									// text-align: center;
									width: 90%;
									margin-left: 5%;
									margin-right: 5%;
									margin-top: 15px;

									.relay__details--space {
										width: 100%;
										display: block;

										border-width: 2px;
										border-style: groove;
										border-color: $borderInput;
										border-image: initial;

										.relay__name {
											display: block;
											width: auto;
											margin-left: 10px;
											border-style: none;
											border-color: $borderInput;
											font-size: 18px !important;
										}

										.details__element {
											float: left;
											width: 100%;
											margin-bottom: 10px;

											.element__label {
												width:25%;
												text-align: right;
												margin-right: 15px;
											}

											.element__input {
												width:61%;
												outline: none;
												border: 0;
												outline: 0;
												// background: transparent;
												border-bottom: 1px solid $borderInput;
												padding-left: 5px;
												height: 30px;

											}

											.element__input-small {
												width:30%;
												outline: none;
												border: 0;
												outline: 0;
												// background: transparent;
												border-bottom: 1px solid $borderInput;
												padding-left: 5px;
												height: 30px;
											}

											.element__select {
												width:30%;
												outline: none;
												border: 0;
												outline: 0;
												// background: transparent;
												border-bottom: 1px solid $borderInput;
												padding-left: 5px;
												height: 30px;
											}
										}

										.next_previous--element {
											width:auto;
											float: right;
											margin-right: 8%;
											margin-bottom: 20px;

											.button__previous-relay {
												width: 40px;
											}

											.button__next-relay {
												width: 40px;
											}
										}
									}
								}
							}
						}

						// .footer_modal {
						// 	border-color: transparent !important;
						// }

						.details--accessPoint {
							@extend .details-form;
						}
					}

					.elevators {
						.form--elevator {
							@extend .form--input;
						}

						.details--elevator {
							@extend .details-form;
						}
					}

					.client {
						.form--client {
							@extend .form--input;
						}

						.details--client {
							@extend .details-form;
						}
					}

				}
			}
		}
	}

	.modal_entry--add {
		.body_modal{
			height: auto;
			.form--entry{
				@extend .form--input ;
			}
		}
	}

}

.form--input {
	padding: 10px 30px;display: block;
	.element {

		// padding-top: 5px;
		position: relative;
		width: 100%;
		float: left;

		.name {
			width: 100%;
			float: left;
			margin-top: 10px;
		}

		.value {
			width: 100%;
			text-align: left;
			float: left;
			padding-left: 5px;
		}

		.value-add {
			width: 92%;
		}

		.value-radio {
			outline: none;
		}

		.value__select {
			width: 100%;
			padding: 3.5px 0px;
		}

		.value__select-other {
			width: 92%;
			padding: 3.5px 0px;
		}

		.add-other {
			border-radius: 50px;
			width: 6.5%;
			height: 32px;
			text-align: center;
			font-weight: 900;
			outline: none;
			float: right;
		}
	}
}

.details-form {
	.element {
		.name {
			width: 50%;
			text-align: right;
		}
		.value {
			width: 40%;
			text-align: left;
		}
	}
}

.footer_modal {
	border-color: transparent;
	padding-right: 45px;
	padding-left: 45px;
	width: 100%;
}

.body_modal {
	float: left;
	width: 100%;
}

.center {
	text-align: center;
}
