@import 'pages/variable';
@import 'pages/login';
@import 'pages/buildings/_body';
@import 'pages/buildings/_details';
@import 'pages/buildings/_accessPoints';
@import 'pages/buildings/_elevators';
@import 'pages/buildings/_clients';
@import 'pages/buildings/_cards';
@import 'pages/entries';

// --------------------Login--------------------
body{
    height: 100%;
}

.login__body {
    font-family: 'Gilda Display', serif;
}


// --------------------/Header--------------------
@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoThin;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

.dashboard__body {
    font-family: RobotoRegular;
    color: $dashbordColorAlph;
    font-size: 17px;
    position: relative;
}

.pages {
    float: left;
    width: 100%;

    .header {
        width: calc(100% - 320px);
        height: 70px;
        background-color: $alphabeticalColor;
        float: right;
        margin: 0px;
        padding: 0px ;
        // position: absolute;


        .header--menu-items {
            float: right;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            // width: 77%;
            >a {
                float: left;
                display: block;
                position: relative;
                height: 70px;
                width: auto;
                padding: 21px 10px;
                text-align: center;
                vertical-align: middle;
                color: $fontColorMenu;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                    background: rgba(0,0,0,0.1);
                }
                >li {
                    display:block;
                    color: $fontColorMenu;

                    &:hover {
                        text-decoration: none;
                        color: $menuItem__hover;
                    }
                    &:focus{
                        text-decoration: none;
                    }

                }
            }
        }
    }

    .menu-left {
        display: block;
        width: 320px;
        min-height: 100vh;
        height: 1000px;
        background-color: #123;
        margin:0px;
        float: left;
        padding: 0px ;

        .header__logo {
            float: left;
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
            margin-top:25px;
            margin-bottom:50px; 
        }

        .option_menu {
            width: 100%;
            float: left;
            padding-left: 25px;
            height: 40px;
            font-size: $fontSizeMenu;

            .icon {
                padding:10px 0px;
                float: left;
                color: $fontColorMenu; 
            }
            
            a {
                float: left;
                display: block;
                position: relative;
                height: 40px;
                width: calc(100% - 20px);
                padding:10px 0px 0px 10px;
                text-align: left;
                vertical-align: middle;
                color: $fontColorMenu;
                text-decoration: none;              
            }

            &:hover {
                text-decoration: none;
                background: rgba(0,0,0,0.1);
                color: $menuItem__hover;
            }

            &:focus{
                text-decoration: none;
            } 
        }

        .option_menu-active {
                
        }
    }
}

.card__layout--main {
    width: 78%;
    height: 930px;
    // max-height: 100px;
    float: right;
    margin: 0px;
    padding: 0px;
    width: calc(100% - 320px);

    .body__home {
        height: 100%;
        display: block;
        padding-top: 30px;
        padding-left: 30px;
        border: 1px solid #555;
        background-color: #ddd;
        text-align: center;
    }
}

td {
    >a {
        color: $dashbordColorAlph;
        &:hover {
            color: $dashbordColorAlph;
            text-decoration: none;
        }

        &:focus {
            color: $dashbordColorAlph;
            text-decoration: none;
        }
    }
}

.modal--padding-top {
    margin-top: 10%;
}

.body__view {
    position: relative;
    background-color: $colorCloud;
    height: $bodyView;

    .section__header {
        background-color: $colorWhite;
        position: relative;
        width: calc(100% - 40px);
        float: left;
        margin: 20px 20px 20px 20px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        height: $sectionHeaderHeight;

        .menu__item-title {
            padding-top: 10px;
            padding-left: 15px;
            padding-bottom: 10px;
            width: 80%;
            float: left;
        }

        .search__input {
            float: right;
            height: 41px;
            font-size: 18px;
            width: 15%;
            position: relative;
            margin-right: 10px;
        }

        .search__key {
            float: right;
            height: 41px;
            width: 9%;
            position: relative;
        }

        .breadcrumb-with-root_element {
            padding: 8px 16px;
            list-style: none;
            background-color: transparent;
            width: 100%;
            margin-bottom: 10px;
            position: relative;
            float: left;
            z-index: 1;
            
            li {
                display: inline;
                font-size: 18px;
                a {
                    color: $dashbordColorAlph;
                    text-decoration: none;
                    
                    &:hover {
                        color: $dashbordColorAlph;
                        text-decoration: underline;
                    }
                }
            }
            
            li+li {
                &:before {
                    padding: 7px;
                    color: black;
                    content: "/\00a0";
                }
            }
            // margin-top:25px;
        }

        .button__add--item {
            float: right;
            width: auto !important;
            margin-right: 20px;
            margin-top:30px;
            // width: 15%;
        }      
    }

    .tabs__section {
        width:75%;
        position: relative;
        float: left;
        padding: 0px 10px 0px 20px;
        padding-top: 10px;
        background: $tabsSection;
        padding-bottom: 500em;
        margin-bottom: -500em;

        .info_bar {
            width: 100%;
            height: 50%;
            float: left;
            text-align: left;
            margin: 20px 0px;
            .element {
                float: left;
                width: 30%;
                .title {}
                .value {}
            }
        }
    }

    .block__add {
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 10px;
        width: 100%;
        float: left;

        .button__view-left {
            margin-right: 5px;
        }
    }
}

.block__table {
    width: 100%;
    margin-bottom: 30px;
    float: left;
    width: calc(100% - 40px);
    background-color: $colorWhite;
    margin: 0px 20px 20px 20px;
    padding-top:50px; 
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    height: $mainBlockHeight;
    overflow-y:auto;
    overflow-x:hidden;

    
    .search_by {
        margin-bottom: 15px;
        .col-right {
            float: right;
            margin-right: 10px;

            .search_key {
                float: right;
                width: auto;

                ul {
                    li {
                        cursor: pointer;
                        padding-left: 15px;

                        &:hover {
                            background-color: $hoverSearchKey;
                        }
                    }
                }
            }
            .search_value {
                float: right;
                width: 35%;
            }
        }
    }

    .table__model_1 {
        text-align: center;
        width: 94%;
        margin-left: 3%;
        font-size: 15px;

        //te dhenat per klasen table_header duhet me i FSHI
        .table__header {
            text-align: left;
            border-bottom: 1px solid #555;
            font-size: 18px;
            font-weight: bold;

            td {
                width: 15%;
                cursor: pointer;
            }

            .action {
                text-align: center;
                cursor: context-menu;
            }
        }
        //->->->->->->->->->->->->->->->->
        thead {
            width: 100%;
            // margin-right: 10px;

            tr {
                width: 100%;
                // display: inline-table;
                th {
                    min-width: 20%;
                    max-width: auto;
                    cursor: pointer;
                }
                
                .action {
                    width: 20%;
                    text-align: center;
                    cursor: default;
                }
            }
        }

        .table__row {
            text-align: left;
            .action {
                text-align: center;
                .btn_action {
                    cursor: pointer;
                }
            }
        }
    }  
}

.footer__paginat{
    border-top: 1px solid #123;
    margin: 5px 20px 5px 20px;
    padding: 10px 10px 0px 10px;
    display: inline-block;
    width: calc( 100% - 40px);
        a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        cursor:pointer;

        }
        a.active {
            background-color: #aaa;
            color: $dashbordColorAlph;
        }

    .pagination-model {
        position: relative;
        float: left;

        .disabled__paginate{
            cursor:no-drop;
        }
    }

    .show__row {
        position: relative;
        float: right;
    }
}

.details_body {
    width: 100%;
    float: left;
    overflow: hidden;
    min-height: calc(100vh - 70px);

    .tabs__section {
        width:75%;
        position: relative;
        float: left;
        padding: 20px 20px 0px 20px;

        background: $tabsSection;

        padding-bottom: 500em;
        margin-bottom: -500em;

        .info_bar {
            width: 100%;
            height: 50%;
            float: left;
            text-align: left;
            margin: 20px 0px;
            .element {
                float: left;
                width: 30%;
                .title {}
                .value {}
            }
        }
    }
        .tab_section {
            background-color: rgb(255, 255, 255);
            float:left;
            padding: 20px;
            margin: 0px 20px 20px 0px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
            width: 100%;
            height: $tabBodyDetails;

            min-height: 90vh;

            .tab__menu {
                float: left;
                width: 100%;
                padding: 10px;

                .tab__view--content {
                    overflow:auto;
                    .tab__view {
                        .tab__view--header {
                            margin-top:10px;
                            margin-bottom: 10px;
                            width: 100%;
                            float: left;
                            height: 80px;

                            .subtitle {
                                font-size: 20px;
                                margin-left: 10px;
                                margin-top:5px;
                                float: left;
                                width: 50%;
                                vertical-align: middle;
                            }
                            .btn_add {
                                float: right;
                                width: auto;
                                margin-right: 10px;
                            }

                            .search_by--inside-tabs {
                                width:70%;
                                margin-left: 15%;

                                .search_key {
                                    ul {
                                        li {
                                            cursor: pointer;
                                            padding-left: 15px;

                                            &:hover {
                                                background-color: $hoverSearchKey;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .tab__view--body {
                            // margin-top:20px;
                            // margin-bottom: 20px;
                            width: 100%;
                            float: left;
                            min-height: 50vh;

                            .tab__view-list {
                                width: 100%;

                                thead {
                                    display: block;
                                    width: 100%;
                                    margin-right: 10px;


                                    tr {
                                        width: 100%;
                                        display: inline-table;
                                        th {
                                            min-width: 20%;
                                            max-width: auto;
                                            display: inline-block;

                                        }
                                        .action {
                                            width: 20%;
                                            text-align: center;
                                            display: inline-block;
                                            // margin-right: 2%;
                                        }
                                    }
                                }

                                tbody {

                                    display:block;

                                    height: auto;
                                    overflow: auto;
                                    overflow-x: hidden;

                                    tr {
                                        width: 100%;
                                        display: inline-table;
                                        td {
                                            width: 20%;
                                            display: inline-block;
                                            word-wrap: break-word;
                                        }
                                        .action {
                                            text-align: center;
                                            width: 20%;
                                            display: inline-block;
                                        }
                                    }

                                }

                                .manipulate__button{
                                    width: 20px;
                                    cursor: pointer;
                                    color:$alphabeticalColor;


                                    &:hover, &:focus {
                                        opacity: 0.8;
                                    }
                                }

                            }

                            .table__details-info {
                                height: 650px ;
                                display:block ;
                                margin-bottom: 0px;

                                thead {
                                    display: inline-table ;
                                    height: 40px ;
                                }

                                tbody {
                                    display: inline-block;
                                    height: 610px ;
                                    overflow: auto !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    

    .modal_entry--add {
        .body_modal{
            height: auto;
            .form--entry{
                @extend .form--input ;
            }
        }
    }
}

