$mainColor: #ecf0f1;
$logoColor: #FF0000;
$headerGrey: #ecf0f1;
$pageGrey: #F5F5FA;
$orangeColor: #e74c3c;
$alphabeticalColor: #34495e;
$borderInput: #aaa;
$ButtonBlue: #2980b9;
$menuItem:#aaa;
$menuItem__hover:#ecf0f1;
$dashbordColorAlph:#2f2f2f;
